"" 
.vs/ 
bridge/runtime/ 
bridge/server_exceptions.txt 
bridge/server_logs.txt
client_packages/.listcache
plugins/
bt.dat
node.dll
roleplay.zip
server.exe
bridge/resources/roleplay/bin
bridge/resources/roleplay/obj
client_packages/cs_packages/roleplay-client/bin
client_packages/cs_packages/roleplay-client/obj