@import 'uikit/src/scss/variables-theme.scss';
@import 'uikit/src/scss/mixins-theme.scss';
@import 'uikit/src/scss/uikit-theme.scss';

html {
	background-image: url('background.jpg') !important;
	background-size: cover;
}

::-webkit-scrollbar {
	display: none;
}


.uk-background-secondary {
	background-color: #0b1f35e0;
	max-height: 100vh;
	overflow-y: auto;
}